<form [formGroup]="form" (ngSubmit)="save(form)">
    <mat-card class="card-container">
    <mat-card-title>Gateway</mat-card-title>
    <mat-card-subtitle>{{ title }}</mat-card-subtitle>
    <mat-card-content>
            <mat-form-field appearance="outline" id="name-input">
                <mat-label>Name</mat-label>
                <input matInput 
                    placeholder="Ex.: Master 1" 
                    formControlName="name">
                <mat-hint>The name of the gateway</mat-hint>
                <mat-error *ngIf="name?.errors?.['required']">
                    Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" id="address-input">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Ex.: 127.0.0.1" formControlName="address" #addressInput>
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-hint>A valid IPv4 address</mat-hint>
                <mat-error *ngIf="address?.errors?.['required']">
                    Address is required
                </mat-error>
                <mat-error *ngIf="address?.errors?.['pattern']">
                    Address must be a valid IPv4
                </mat-error>
            </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="['/gateways/list']">BACK</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">SAVE</button>
    </mat-card-actions>
    </mat-card>
</form>
