/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-bottom: 50px;
}

.card-container {
    margin: 50px;
}

@media screen and (max-width: 480px) {
    .card-container {
        margin: 0px;
    }
}

.plus-button {
    position: fixed;
    right: 50px;
    bottom: 70px;
}